<header class="bg-[var(--primary-color)] text-white px-4 py-1 shadow">
  <div class="container mx-auto flex items-center justify-between max-w-screen-xl">
    
    <div routerLink="/" class="flex items-center cursor-pointer">
      <img src="./../../../assets/img/logo-agoodshop.png" alt="Agoodshop Logo" class="h-16 w-36" />
    </div>

    <nav class="flex space-x-6 items-center mr-8">
      <a routerLink="/" class="hover:text-[var(--secondary-color)] transition duration-200">Home</a>
      <a routerLink="/productos" class="hover:text-[var(--secondary-color)] transition duration-200">Productos</a>
      <a routerLink="/carrito" class="flex items-center hover:text-[var(--secondary-color)] transition duration-200">
        <i class="fas fa-shopping-cart mr-2"></i>
        Carrito
      </a>
    </nav>

  </div>
</header>
