<div class="flex flex-col items-center justify-center p-6">
  <h1 class="text-3xl font-bold mb-2">Bienvenido a Agoodshop</h1>
  <p class="text-lg text-[var(--background-color)] mb-4 text-center">
    Explora nuestra increíble selección de productos. ¡Lo tenemos todo para ti!
  </p>
  
  <a 
    routerLink="/productos" 
    class="bg-[var(--primary-color)] text-white py-2 px-4 rounded hover:bg-[var(--secondary-color)] hover:text-[var(--background-color)]  transition-colors duration-300"
  >
    Ver Productos
  </a>

  <div class="mt-6 bg-white rounded shadow-md p-4 max-w-xs text-center">
    <h2 class="text-xl font-semibold text-[var(--primary-color)] mb-2">¿Por qué elegirnos?</h2>
    <p class="text-gray-600 mb-2">Calidad, precio justo y un servicio excepcional.</p>
    <ul class="list-none text-left text-gray-700">
      <li class="flex items-center mb-2">
        <i class="fas fa-shopping-cart text-[var(--primary-color)] mr-2"></i>
        Variedad de productos
      </li>
      <li class="flex items-center mb-2">
        <i class="fas fa-truck text-[var(--primary-color)] mr-2"></i>
        Envío rápido
      </li>
      <li class="flex items-center mb-2">
        <i class="fas fa-smile text-[var(--primary-color)] mr-2"></i>
        Atención al cliente
      </li>
    </ul>
  </div>
</div>
