@import '@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #475B5A;
    --secondary-color: #BBBBBF;
    --secondary-color-dark: #6b6b6b;
    --background-color: #252525;
}

  
